@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* RESET */ 

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    font-family: "Josefin Sans", sans-serif;
}

/* ----------classes fonctionnelles flex box------------ */ 

.flex {
display:flex;
flex-wrap:wrap;
}

/* alignement horizontale */
.space-between {
justify-content:space-between;
}

.space-around {
justify-content:space-around;
}

.space-evenly {
justify-content:space-evenly;
}

.justify-center {
justify-content:center;
}

.flex-end {
justify-content:flex-end;
}

.flex-start {
justify-content:flex-start;
}

/* alignement verticale */

.align-center {
align-items:center;
}

.align-end{
align-items:end;
}

/* Gap */

.gap-12 {
gap:12px;
}
.gap-230 {
    gap: 230px;
}

/* classes de largeurs */

.w-100 {
    width: 100%;
}

.w-48 {
    width: 48%;
}

.w-33 {
    width: 33px;
}

.w-22 {
    width: 22px;
}

/* container */
.container-1000 {
 max-width: 1000px;
 margin-left: auto;
 margin-right: auto;
 width: 100%;
}

.list-puce {
    list-style-type: none;
}

.bg-baniere {
    background-image: url(asset/images/banniere3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200vh;
}

.trait {
    background-color: #FBD784;
    height: 2px;
    width: 60px;
}

.white-transparent {
    color: rgb (255, 255, 255, 0,434); 
}

.relative {
    position: relative;
    top: 0;
    left: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.padding-30 {
    padding: 30px;
}

body {
    background-color: #0B1D26 ;
}

.position-nav {
    position: fixed;
    top: 200px;
    right: 10px;
}

.position-header {
    position: fixed;
    top: 20px;
    width: 100%;
    
}
.margin-top-30 {
    margin-top: 30px;
}


.margin-top-50 {
    margin-top: 50px;
}


.margin-top-100 {
    margin-top: 100px;
}


.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}

.margin-left {
    margin-left: 30px;
}

.yellow {
    color: #FBD784;
}

.footer {
    align-content: space-around;
}